body{
    background-image: url("../images/Login_full_Page.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.logo{
    position: absolute;
    top: 18.4%;
    left: 41.9%;
}